$primary-color: #149ddd;
$secondary-color: #37b3ed;
$background-color: #040b14;
$text-color: #272829;
$font-family-sans: "Open Sans", sans-serif;
$font-family-header: "Raleway", sans-serif;
$font-family-heading: "Poppins", sans-serif;